*{
    margin: 0;
    padding: 0;
    font-family: whitney ssm a,whitney ssm b,lucida grande,lucida sans,Verdana,Helvetica,Arial,sans-serif;
}
body{
    overflow-x: hidden;
}
.side-image{
    background-image: url('../images/triangles.png');
    background-repeat: no-repeat;
    background-size: 40vw;
}
.wrapper{
    display: grid;
    grid-template-columns: .5fr 2fr .9fr;
}
.sidebar{
    background-color: #42444E;
    color: #666;
    text-align: center;
}
.sidebar__header{
    display: inline-block;
    padding: 1em;
    font-size: 2em;
    width: 15vw;
}
.sidebar__header a span{
    font-size: .7em;
}
.sidebar__header a span, .sidebar__course101 a strong, .sidebar__course201 a strong, .sidebar__group p, .sidebar__lessons a strong{
    display: block;
    color: #9799A7;
}
.sidebar__header a, .sidebar__header a abbr, .sidebar__course101 a, .sidebar__course201 a, .sidebar__group a, .sidebar__lessons a{
    color: #fff;
    text-decoration: none;
    transition: .7s;
}
.sidebar__header a:hover, .sidebar__course101 a:hover, .sidebar__course201 a:hover, .sidebar__group a:hover, .sidebar__lessons a:hover{
    color: #2DB34A;
}
.sidebar__course101, .sidebar__course201, .sidebar__button, .sidebar__lessons{
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-align: left;
    width: 15vw;
    margin-top: 1em;
}
.sidebar__group{
    display: inline-block;
    padding: 0.5em;
    font-size: 1em;
    text-align: left;
    width: 15vw;
    font-style: italic;
    margin-top: 1.5em;
}
.sidebar__group p:last-child, .sidebar__group p:nth-child(2){
    margin-top: 1em;
}
.sidebar>p{
    display: block;
    color: #9799A7;
    padding: 1em;
    text-align: left;
    width: 15vw;
}
.sidebar__button button{
    background-color: #0087CC;
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: .7s;
}
.sidebar__button button:hover{
    background-color: #FF7B29;
}
.sidebar__button{
    margin-bottom: 2em;
}
.content h1, .content h2{
    text-align: center;
}
.content{
    width: 50vw;
}
.content h1{
    color: #42444E;
    margin-top: 1em;
    font-size: 2.5em;
}
.content h2{
    color: #9799A7;
    margin-top: .5em;
    font-size: 1.5em;
    font-weight: 400;
}
.content p{
    margin-top: 1.5rem;
    color: #666;
    font-weight: 400;
    margin: 1em 2em;
}
.sidebar__header_button a, .container__list-button, .sidebar__header_button button{
    
    display: block;
    text-decoration: none;
    background-color: #0087CC;
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: .8em;
    font-size: 1em;
    cursor: pointer;
    transition: .7s;
    margin: 1em 3em 0em 3em;
}
.sidebar__header_button a:hover, .sidebar__header_button button:hover, .container__list-button:hover{
    background-color: #FF7B29;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    line-height: 1.5em;
    margin-bottom: 3rem;
}
.container div h2 a{
    text-decoration: none;
    color: #2DB34A;
    transition: .7s;
    font-weight: 600;
}
.container div h2 a:hover{
    color: #FF7B29;
}
.container__list-item{
    display:block;
    text-decoration: none;
    color: #666;
    transition: .7s;
    margin: 2em 0em;
}
.container__list-item span{
    background-color: #CECFD5;
    padding: .5em .8em;
    border-radius: .5em;
    color: #fff;
    transition: .7s;
}
.container__list-item:hover{
    color: #FF7B29;
}
.container__list-item span:hover{
    background-color: #666;
    padding: .5em .8em;
    border-radius: .5em;
    color: #fff
}
.social-links{
    font-size: 2em;
    margin: auto;
    width: 10vw;
    margin-bottom: 1em;
}
.social-links a{
    text-decoration: none;
    color: #CECFD5;
    transition: .2s;
}
.social-links a:hover{
    color: #2DB34A;
}
.book-box{
    margin: 0em 2em 2em 2em;
    background-color: #F2FCF4;
    border: 2px solid #d6ffdf;
    border-radius: .5em;
    width: auto;
    padding: 1.5em 1.5em 0 1.5em;
}
.book-box>h2, .book-box>p{
    margin: 0;
    text-align: left;
}
.book-box>h2>a{
    text-decoration: none;
    color: #42444E;
    font-weight: 500;
    transition: .7s;
}
.book-box>h2>a:hover{
    color: #FF7B29;
}
.book-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.book-container>div>p{
    margin: 2em 0;
}
.book-container>div>img{

    width: auto;
    margin: 2em auto
}
.book-container__button{
    display: block;
    text-decoration: none;
    background-color: #2DB34A;
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: .8em;
    font-size: 1em;
    cursor: pointer;
    transition: .4s;
    margin: 0em 2em 0em 0em;
}
.book-container__button:hover{
    background-color: #FF7B29;
}
.book-container__bottom-text{
    font-size: .7em;
}
.newsletter-box{
    margin: 0em 2em 2em 2em;
    border: 2px solid #c7c7c7;
    border-radius: .5em;
    width: auto;
    padding: 1.5em 1.5em 0 1.5em;
}
.newsletter-box>h2, .news-block h2{
    margin: 0;
    text-align: left;
    color: #2DB34A;
    font-weight: 500;
}
.newsletter-box>p{
    margin: 2em 0;
    text-align: left;
}
.newsletter-box>input:last-child{
    margin: 0 0 2em -2em;
    border-radius: 0 .5em .5em 0;
    background: #0087CC;;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    width: 10vw;
    transition: .5s;
}
.newsletter-box>input:last-child:hover{
    background: #FF7B29
}
.newsletter-box>input{
    padding: 1em;
    border: 1px solid #c7c7c7;
    border-radius: .5em 0 0 .5em;
    background: none;
    font-size: .9em;
    width: 15vw;
}
.admin-panel>form>div>input{
    padding: 1em;
    border: 1px solid #c7c7c7;
    border-radius: .5em;
    background: none;
    font-size: .9em;
    width: 20vw;
}
.admin-panel>form>input{
    padding: .5em;
    border: 1px solid #c7c7c7;
}
.newsletter-box>input:focus, .admin-panel>form>div>textarea:focus, .admin-panel>form>div>input:focus{
    outline: none !important;
    border: 1px solid #0087CC;
}
.admin-panel>form>div>textarea{
    padding: 1em;
    border: 1px solid #c7c7c7;
    border-radius: .5em;
    margin: .5em 0 0 0;
}
.admin-panel{
    margin: 0em 2em 2em 2em;
    border: 2px solid #c7c7c7;
    border-radius: .5em;
    width: auto;
    padding: 1.5em;
    display: none;
}
.footer{
    background-color: #EAEAED;
    padding: 2em;
    z-index: 1;
    width: 80vw;
}
.footer__content{
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.footer__content>div>p{
    display: inline-block;
}
.twitter__button{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #0087CC;
    padding: .5em;
    border-radius: 1em;
    transition: .5s;
}
.twitter__button:hover{
    color: #fff !important;
    background-color: #016fa7;
}
.content__button{
    text-align: center;
    margin: auto;
}
.content__button button, .admin-panel>form>input{
    text-decoration: none;
    background-color: #0087CC;
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: .7em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: .4s;
    margin: 0em 2em 0em 0em;
}
.content__button button:hover, .admin-panel>form>input:hover{
    background-color: #FF7B29;
}
.content__button{
    margin-bottom: 2em;
}
hr{
    border: 1px solid #c7c7c7;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.newsletter-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.newsletter-container>p{
    margin: 2em 0;
}
.newsletter-container>p>a{
    color: #0087cc;
}
.newsletter-container>div>img{
    filter: grayscale(100%);
    height: 131px;
    border-radius: 50%;
    width: auto;
    margin: 2em;
}
.newsletter-container__button{
    display: block;
    text-decoration: none;
    background-color: #0087CC;
    color: #fff;
    border: none;
    border-radius: .5em;
    padding: .8em;
    font-size: 1em;
    cursor: pointer;
    transition: .4s;
    margin: 0em 2em 0em 0em;
}
.newsletter-container__button:hover{
    background-color: #FF7B29;
}
.newsletter-container__bottom-text{
    font-size: .7em;
}
.news-block{
    margin: 0em 2em 2em 2em;
    border: 2px solid #c7c7c7;
    border-radius: .5em;
    width: auto;
    padding: 1.5em;
}
.row{
    display: grid;
    grid-template-columns: .5fr 1fr;
}
.client-forms{
    margin: 1em;
    padding: 1em;
    border: 2px solid #c7c7c7;
    text-align: left;
}
.client-forms>form>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.client-forms>form>div>input{
    border-radius: .2em;
}
.client-forms>form>button{
    width: 5em;
    background:none;
    padding: .5em;
    margin-left: 1em;
    cursor: pointer;
    border: 2px solid #0087CC;
    border-radius: .5em;
    transition: .5s;
}
.client-forms>form>button:hover{
    background: #0087CC;
    color: #fff;
}
.table{
    margin: 1em;
    padding: 1em;
    text-align: center;
}
.table thead th:not(:last-child){
    background-color: #ccc;
}
.table thead th:not(:last-child), .table tbody tr td:not(:last-child){
    padding: 1em;
    border-right: 2px solid #ccc;
}
.table tbody tr td:not(:last-child){
    border-bottom: 2px solid #ccc;
}
.table tbody tr td:first-child{
    border-left: 2px solid #ccc;
}
.table a{
    color: #fff;
    background-color: #0087CC;
    cursor: pointer;
    padding: .5em;
    border-radius: .5em;
}